<h1>List of all movies</h1>

<table border = "1">
  <% @list_of_movies.each do |a_row| %>
    <tr>
      <td><%= a_row.id%></td>    
      <td><img src="http://robohash.org/<%= a_row.image%>">
      </td>
      <td><%= a_row.title %></td>
      <td><%= a_row.year%></td>
      <td>
        <% d= Director.where({ :id => a_row.director_id}).at(0) %>
        <%= d.name %>
      </td>
      <td>
        <a href="/movies/<%= a_row.id%>">
          Show details
        </a>
      </td>

    </tr>
  <% end %>
</table>