<h1>
  Movie <%= @film.id %> details
</h1>

<a href="/movies" class="btn btn-block btn-outline-secondary">
  Go back
</a>


<a href="/delete_movie/<%= @film.id %>" class="btn btn-block btn-outline-secondary">
  Delete movie
  <small>(Building this link is not required. It's an optional stretch goal; but, you have the tools if you want to give it a try.)</small>
</a>

<hr>

<dl>
  <dt>
    Title
  </dt>
  <dd>
    <%= @film.title %>
  </dd>

  <dt>
    Year
  </dt>
  <dd>
    <%= @film.year %>
  </dd>

  <dt>
    Duration
  </dt>
  <dd>
    <%= @film.duration %>
  </dd>

  <dt>
    Description
  </dt>
  <dd>
    <%= @film.description %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="https://robohash.org/<%= @film.image %>?set=set3">
  </dd>

  <dt>
    Director
  </dt>
  <dd>
    <% d= Director.where({ :id => @film.director_id}).at(0)  %>
    <%= d.name %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@film.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@film.updated_at) %> ago
  </dd>
</dl>