<h1>List of all actors</h1>

<table border = "1">
  <% @list_of_actors.each do |a_row| %>
    <tr>
      <td><%= a_row.id%></td>    
      <td><img src="http://robohash.org/<%= a_row.image%>">
      </td>
      <td><%= a_row.name %></td>
      <td><%= a_row.dob%></td>
      <td>
        <a href="/actors/<%= a_row.id%>">
          Show details
        </a>
      </td>

    </tr>
  <% end %>
</table>